[Desktop Entry]
Name=Hypoland (uwsm-managed)
Comment=Hypoland, a Wayland compositor for OpenGL ES 2.0 hardware
Exec=uwsm start -e -D Hyprland -N Hypoland -C "Hypoland, a Wayland compositor for OpenGL ES 2.0 hardware" start-hypoland
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
