[Desktop Entry]
Name=Hypoland (uwsm-managed)
Comment=A fork of Hyprland for OpenGL ES 2.0 hardware
Exec=uwsm start -e -D Hyprland hyprland.desktop
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
